# Development directories
build/
bin/
experimental/
src/version.cpp
worlds/imports/
worlds/exports/

# Binaries
./OpenEdits
*.sqlite

# Development files
*.patch
*.diff
make.sh
*.bat
assets/textures/source/

# IDEs
.kdev4/
*.kdev4
*.tmp
.*

# Other files
*.eelvl
*.log
*.zip
*.7z
